<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-nav-list  >
        <a mat-list-item routerLink="configure-budget" routerLinkActive="active-link" >Configure Budget</a>
        <a mat-list-item id="view-transactions" routerLink="transactions" routerLinkActive="active-link" >Transactions</a>
        <a mat-list-item routerLink="spending-vs-budget" routerLinkActive="active-link" >Spending vs Budget</a>
        <a mat-list-item routerLink="spending-by-month" routerLinkActive="active-link">Spending By Month</a>
        <a mat-list-item routerLink="month-by-month" routerLinkActive="active-link">Month By Month</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet ></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
