<main class="center">
  <h1>Welcome to MyBudgetApp !!!</h1>

  card flex justify-content-center
  <section class="card flex justify-content-center">
      <p-fieldset legend="How to signup?">
        <p class="m-0">
          To create an account as a new user, you are required to provide a username, password, email, and first name. After entering this information, click on the &quot;Sign Up&quot; button to complete the registration process.      </p>
    </p-fieldset>
    <p-fieldset legend="How to Login?">
      <p class="m-0"> After completing the registration successfully, you can log into your account using your username and password. Click on the &quot;Login&quot; button to proceed.</p>
      </p-fieldset>

      <p-fieldset legend="How to add tranasaction?">
        <p class="m-0">
          After logging in successfully, you will be taken to the Dashboard page. Here, you have the ability to set up budgets and manage transactions. Furthermore, you can monitor your spending in comparison to the budget, and track monthly expenditures.

          <p> We will deep-dive into each aspect and discover more about the Budget App!!!</p>

          <p>ConfigureBudget section: You can create a new category by entering a name and setting a limit amount. Afterward, click on the &quot;Add&quot; button, and your budget will be successfully created, displaying the ID, Name, and Limit. Additionally, you have the flexibility to edit or delete these categories.</p>

          <p>Transactions: You can input a new transaction by providing a title, selecting a date in the MM/DD/YYYY format, specifying the amount associated with a previously added category (chosen from the dropdown), and saving the entry. To review transactions, you have the flexibility to specify a date range. It's crucial to understand that adding a category is a prerequisite for adding a transaction.</p>

          <p>Spending Vs Budget Limit: It will showcase a BarGraph illustrating the amount spent and the budget limit based on the categories and transactions we have added.</p>

          <p>Spending By Month: It will showcase the monthly spending with the current timestamp, depicted in the pie chart according to categories and transactions.</p>

          <p>Month-By Month: In this section, you'll encounter a Bar Graph depicting the month-to-month spending and budget.</p>

          <p>After successfully adding your monthly budget and monitoring your transactions, you can proceed to Log out !!</p>

        </p-fieldset>

    </section>
</main>


