
<p-table id="view-transactions-list" [value]="transactions" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="caption">
    <nav>
      <div class="main-nav">
        <div>
           <p-button id="add-transaction-btn" class="modal-button" (click)="addTransaction()" label="Add New Transaction"></p-button>
        </div>
        <div><p-button  class="modal-button" (click)="addCategory()" label="Add New Category"></p-button>
        </div>
        <div class="push"><mat-form-field class="date-range">
          <mat-label>Select Date Range</mat-label>
          <mat-date-range-input [rangePicker]="dateRangePicker">
            <input matStartDate
             aria-label="start date"
              placeholder="Start date"
              #dateRangeStart>
            <input matEndDate
              aria-label="start date"
              placeholder="End date"
              #dateRangeEnd
              (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
          </mat-date-range-input>
          <mat-datepicker-toggle matPrefix
            [for]="dateRangePicker">
          </mat-datepicker-toggle>
          <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
        </mat-form-field></div>
      </div>
    </nav>



   </ng-template>
  <ng-template pTemplate="header">
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Category</th>
        <th>Amount</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>{{ transaction.createdDate |  date:'shortDate' }}</td>
        <td>{{ transaction.title }}</td>
        <td>{{ transaction.categoryId }}</td>
        <td>{{ transaction.amount }}</td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary"> Footer </ng-template>
</p-table>
