<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="number" matInput placeholder="Limit Amount" formControlName="limit">
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button>Add</button>
      </div>


      <div *ngIf="requestDone">
        <p *ngIf="!isSuccess" class="error">
          {{ message }}
        </p>
        <p *ngIf="isSuccess" class="success">
          {{ message }}
        </p>
      </div>

    </form>
  </mat-card-content>
</mat-card>
