


<p-menubar [model]="[]">
  <ng-template pTemplate="start">
    <div class="p-menubar nav-settings">
      <a class="navbar-brand" href="#">MyBudgetApp</a>
      <a *ngIf="isLoggedIn" class="nav-link link-nav"  routerLink="/dashboard"><span>Dashboard</span></a>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="p-menubar nav-settings">
      <a  *ngIf="!isLoggedIn" class="nav-link link-nav"  routerLink="/login"><span>Login</span></a>
      <a  *ngIf="!isLoggedIn" class="nav-link link-nav"  routerLink="/signup"><span>Signup</span></a>
      <a *ngIf="isLoggedIn" class="nav-link link-nav"  routerLink="/logout"><span>Logout</span></a>
      </div>
  </ng-template>
</p-menubar>
