.nav-settings {
  padding: 0.5rem;
  color: #000000;
  border: none;
  border-radius: 6px;
}
.link-nav {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-bar-app {
  background-color: #44d5ad;
}
:host ::ng-deep .p-menubar {
  background-color: #44d5ad;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}
